<template>
  <v-container fluid>
    <div class="buyertitle">
      <h1 class="mb-10">Here you can get the data of your buyers</h1>
    </div>
    <div class="buyers">
      <ListBuyers></ListBuyers>
    </div>

  </v-container>
</template>

<script>
import ListBuyers from '@/components/ListBuyers.vue'

import { mapMutations } from 'vuex'

export default {
  name: 'Buyers',
  components: {
    ListBuyers
  },
  methods:{
    
  }
}
</script>

<style scoped>
  .buyertitle{
    text-align: center;
  }
  .buyers{
    box-shadow: 0 0 20px 0 rgba(53, 62, 139, 0.3);
  }

</style>