<template>
    <v-container>
        <BuyerInfo/>
    </v-container>
</template>

<script>
import BuyerInfo from '@/components/BuyerInfo.vue'
export default {
  name: 'Buyers',
  components: {
    BuyerInfo
  },
  methods:{
    
  }
}
</script>

<style scoped>
    .title {
        text-align: center;
    }
</style>