<template>
  <v-container fluid>
        <Home></Home>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Home from '@/components/Home.vue'

export default {
  name: 'Buyers',
  components: {
    Home,
  },
  methods:{
    
  }
}
</script>
