<template>
    <v-container>
      <!-- Buttons -->
        <div class="my-3 text-center">
            <v-btn 
              @click="getBuyers" 
              dark class="mx-1 my-1"  
              width="150" 
              large 
              color="secondary">
               Get Buyers
            </v-btn>
            <v-btn 
              @click="deleteBuyers" 
              dark class="mx-1 my-1"  
              width="150" 
              large 
              color="secondary">
                Clear
            </v-btn>
        </div>
      <!--All Buyers -->
      <h2 class="mb-10">Total buyers: {{allBuyers.length}}</h2>
      <v-divider></v-divider>
      <v-row>
        <div v-for="(item,index) of allBuyers" :key="index">
              <v-card :to="{name:'Buyer', params:{buyerId: item.id}}"  
                min-width="130" 
                class="my-1 mx-1"  
                color="accent">
                <v-card-text>
                  <v-row>
                    <v-icon class="mx-1 my-1">person</v-icon> 
                      <p class="mx-1 my-1">{{item.name}}</p>
                  </v-row>
                </v-card-text>
              </v-card>
        </div>  
      </v-row>  
    </v-container>
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex'
import axios from 'axios'
  export default {
    name: 'ListBuyers',
    data () {
      return {
        allBuyers: []
        }
    },
    computed:{
        ...mapState(['loading','buyerInfo'])
    },
    methods:{
        ...mapMutations(['showDialog', 'quitDialog']),
        async getBuyers() {
          try {
              this.showDialog({title:"wait, get all buyers"})
              const response = await fetch("http://localhost:3000/buyers");
              const buyers = await response.json()
              this.allBuyers = buyers
          } catch (error) {
          
          } finally {
            this.quitDialog()
          }
        },
        deleteBuyers(){
          this.allBuyers = []
        }
    }
  }
</script>

