<template>
    <v-container>
        <!-- Selecte Date -->
        <h1>Select date</h1>
        <v-row>
            <v-col xs="12">
                <v-card>
                    <v-date-picker 
                        class="my-2" 
                        v-model="date" 
                        :full-width="true"
                        :min="minDate"   
                        :max="maxDate"   
                    ></v-date-picker>
                </v-card>
            </v-col>
            <v-col class="text-center align-center">
                <h1 class="my-8">Upload data on selected date </h1>
                <h1 class="mb-8">{{date}}</h1>
                <p>
                    You will upload all the information of the sales rached today: buyers, products and transactions
                </p>
                <v-btn @click="dialog=true" large color="secondary">LoadData</v-btn>
            </v-col>
        <div class="my-2">
        </div>
        </v-row>
        <!-- Dialog -->
        <v-dialog v-model="dialog" width="400" persistent>
            <v-card>
                <v-card-title>are you sure?</v-card-title>
                <v-card-text>The database will be alterated</v-card-text>
                <v-card-actions>
                    <v-btn small color="teal " @click="dialog=false">
                        cancel
                    </v-btn>
                    <v-btn small color="teal" @click="postData(date)">
                        yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import { mapState ,mapActions} from 'vuex'
export default {
    name: 'LoadData',
    data () {
      return {
            date: new Date().toISOString().substring(0,10),
            minDate: '2018',
            maxDate: new Date().toISOString().substring(0,10),
            dialog: false
      }
    },
    methods:{
        async postData(date){
            try {
                this.dialog = false
                const dateUnix = new Date(date).getTime()/1000
                const data ={
                    method: 'POST',
                    body:  JSON.stringify({
                        date: dateUnix.toString(10)
                    })
                }
                const res = fetch('http://localhost:3000/loadData',data)
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>